@tailwind base;
@tailwind components;
@tailwind utilities;

/* 배경 및 텍스트 색상 적용 */
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(255, 255, 255); /* 기본값: 라이트 모드 */
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "NEXON Lv1 Gothic OTF";
  cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor.png"),
    auto;
}

.dark body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "NEXON Lv1 Gothic OTF";
  cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor.png"),
    auto;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
