@tailwind base;
@tailwind components;
@tailwind utilities;

/* 배경 색상 정의 */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 9, 20, 40;
  --background-end-rgb: 10, 20, 40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 9, 20, 40;
    --background-end-rgb: 10, 20, 40;
  }
}

/* 배경 및 텍스트 색상 적용 */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  background-color: rgb(var(--background-start-rgb));
  font-family: "NEXON Lv1 Gothic OTF";
  cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor.png"),
    auto;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
